In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv('../data/FundDatawithMonthlyPrices.csv')
print(data.shape)

(461, 87)

In [17]:
data.groupby('aafmCategory').count().iloc[:, 1]

aafmCategory
Accionario America Latina                                                                         14
Accionario Asia Emergente                                                                          9
Accionario Asia Pacifico                                                                           1
Accionario Brasil                                                                                  8
Accionario Desarrollado                                                                           14
Accionario EEUU                                                                                   15
Accionario Emergente                                                                              18
Accionario Europa Desarrollado                                                                     9
Accionario Europa Emergente                                                                        2
Accionario Nacional Large CAP                                                                     31
Accionario Nacional Otros                                                                          4
Accionario Nacional Small & Mid CAP                                                                2
Accionario Pais                                                                                    8
Accionario Pa�ses MILA                                                                             6
Accionario Sectorial                                                                               2
Balanceado Agresivo                                                                               29
Balanceado Conservador                                                                            33
Balanceado Moderado                                                                               28
Fondos de Deuda < 365 Dias Internacional                                                           4
Fondos de Deuda < 365 Dias Nacional                                                                6
Fondos de Deuda < 365 Dias Nacional en UF                                                          5
Fondos de Deuda < 365 Dias Nacional en pesos                                                      15
Fondos de Deuda < 90 Dias Internacional, Dolar                                                    11
Fondos de Deuda < 90 Dias Nacional                                                                38
Fondos de Deuda > 365 Dias Internacional, Mercados Emergentes                                     15
Fondos de Deuda > 365 Dias Internacional, Mercados Internacionales                                11
Fondos de Deuda > 365 Dias Nacional, Inversion UF > 3 a�os y =<5                                  13
Fondos de Deuda > 365 Dias Nacional, Inversion en UF > 5 a�os                                      8
Fondos de Deuda > 365 Dias Nacional, Inversi�n en Pesos                                           19
Fondos de Deuda > 365 Dias Nacional, Inversi�n en UF < 3 a�os                                     18
Fondos de Deuda > 365 Dias Nacional, Inversi�n en UF > 3 a�os                                      5
Fondos de Deuda > 365 Dias Orig. Flex                                                             17
Inversionistas Calificados Accionario Internacional                                                5
Inversionistas Calificados Accionario Nacional                                                     4
Inversionistas Calificados T�tulos de Deuda                                                       11
S/C Fondos creados recientemente que a�n no han sido clasificados                                 19
S/C Fondos que han variado su pol�tica efectiva de inversi�n durante el per�odo de comparaci�n     1
Name: fundRUN, dtype: int64

In [19]:
data.groupby('svsCategory').count().iloc[:, 1]

svsCategory
FM DE INV.EN INST.DE DEUDA DE C/P CON DURACION <= 365 DIAS     28
FM DE INV.EN INST.DE DEUDA DE C/P CON DURACION <= 90 DIAS      49
FM DE INV.EN INST.DE DEUDA DE MEDIANO Y LARGO PLAZO            77
FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION              97
FM DE LIBRE INVERSION                                         150
FM DIRIGIDO A INVERSIONISTAS CALIFICADOS                       19
FM ESTRUCTURADO                                                 1
FM MIXTO                                                       37
Name: fundRUN, dtype: int64

In [9]:
check_na = data.columns[14:]
data.dropna(subset=check_na).shape

(142, 87)

In [16]:
data.dropna(subset=check_na).groupby('aafmCategory').count().iloc[:, 1]

aafmCategory
Accionario America Latina                                              5
Accionario Asia Emergente                                              4
Accionario Asia Pacifico                                               1
Accionario Brasil                                                      1
Accionario Desarrollado                                                6
Accionario EEUU                                                        6
Accionario Emergente                                                   4
Accionario Europa Desarrollado                                         2
Accionario Europa Emergente                                            1
Accionario Nacional Large CAP                                         10
Accionario Nacional Otros                                              2
Accionario Pa�ses MILA                                                 1
Accionario Sectorial                                                   1
Balanceado Agresivo                                                    9
Balanceado Conservador                                                 9
Balanceado Moderado                                                   11
Fondos de Deuda < 365 Dias Nacional en UF                              1
Fondos de Deuda < 365 Dias Nacional en pesos                           9
Fondos de Deuda < 90 Dias Internacional, Dolar                         6
Fondos de Deuda < 90 Dias Nacional                                    14
Fondos de Deuda > 365 Dias Internacional, Mercados Emergentes          4
Fondos de Deuda > 365 Dias Internacional, Mercados Internacionales     3
Fondos de Deuda > 365 Dias Nacional, Inversion UF > 3 a�os y =<5       9
Fondos de Deuda > 365 Dias Nacional, Inversion en UF > 5 a�os          4
Fondos de Deuda > 365 Dias Nacional, Inversi�n en Pesos                8
Fondos de Deuda > 365 Dias Nacional, Inversi�n en UF < 3 a�os          6
Fondos de Deuda > 365 Dias Orig. Flex                                  4
Inversionistas Calificados Accionario Nacional                         1
Name: fundRUN, dtype: int64

In [20]:
data.dropna(subset=check_na).groupby('svsCategory').count().iloc[:, 1]

svsCategory
FM DE INV.EN INST.DE DEUDA DE C/P CON DURACION <= 365 DIAS    10
FM DE INV.EN INST.DE DEUDA DE C/P CON DURACION <= 90 DIAS     20
FM DE INV.EN INST.DE DEUDA DE MEDIANO Y LARGO PLAZO           34
FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION             26
FM DE LIBRE INVERSION                                         39
FM DIRIGIDO A INVERSIONISTAS CALIFICADOS                       1
FM MIXTO                                                      12
Name: fundRUN, dtype: int64

In [3]:
funds = data.iloc[:, 1:10]
funds.head()

,fundRUN,fundName,fundSeries,bloombergCode,APV,aafmCategory,svsCategory,svsCategoryId,currency
0,8812-9,A. CHILE CALIFICADO,A,ACCHICA CI,NO,Inversionistas Calificados Accionario Nacional,FM DIRIGIDO A INVERSIONISTAS CALIFICADOS,8.0,P
1,8162-0,AC EMERGENTES,A,CORPASI CI,NO,Accionario Emergente,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P
2,8587-1,ACCIONES CHILENAS,A,A18TERA CI,NO,Accionario Nacional Large CAP,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P
3,8247-3,ACCIONES LATAM,A,EUCAPIA CI,NO,Accionario America Latina,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P
4,8872-2,ACCIONES NACIONALES,A,LARVIPI CI,NO,Accionario Nacional Large CAP,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P

In [4]:
prices = data.iloc[:, 14:]
prices.head()

,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,...,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021
0,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,...,1000.0000,1000.0000,1000.0000,1000.0000,1000.0000,1000.000,1000.0000,1000.0000,1000.0000,1000.0000
1,898.5420,890.6828,903.2852,926.1299,921.3001,917.9266,919.2881,866.7555,850.5335,894.4375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,946.4151,971.2197,966.3604,976.9819,957.9090,913.3021,897.2501,891.8716,868.2392,887.6627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1693.6139,1722.7516,1635.1843,1717.7214,1632.6834,1666.3880,1624.6163,1502.2527,1425.8536,1501.3926,...,1397.8727,1480.2771,1610.8085,1663.5947,1604.6280,1499.609,1470.9928,1785.2915,1797.7134,1767.1439
4,2310.2509,2382.9152,2355.5203,2401.0723,2379.6895,2285.4300,2281.0280,2256.0428,2182.9294,2234.7436,...,1766.1687,1638.2794,1767.4577,1782.4401,1684.8915,1619.500,1557.5153,1764.4252,1835.8325,1882.4509

In [5]:
prices.dropna().shape

(142, 73)

In [58]:
prices = prices.T
prices.index = pd.to_datetime(prices.index)
prices.head()

,0,1,2,3,4,5,6,7,8,9,...,451,452,453,454,455,456,457,458,459,460
2015-01-31,1000.0,898.5420,946.4151,1693.6139,2310.2509,1268.8118,1101.4274,1144.2227,1168.5585,499.9075,...,1377.6358,NaN,NaN,859.0242,882.7383,627.0096,1376.8601,1600.2140,109.5651,NaN
2015-02-28,1000.0,890.6828,971.2197,1722.7516,2382.9152,1290.0886,1115.8103,1153.7850,1169.5390,516.7131,...,1379.3441,NaN,NaN,851.4763,910.1761,623.8134,1390.0569,1649.5923,114.8706,NaN
2015-03-31,1000.0,903.2852,966.3604,1635.1843,2355.5203,1289.0306,1117.2210,1153.3668,1169.4502,511.3597,...,1383.6375,NaN,NaN,860.6974,917.4376,589.9754,1399.5459,1652.2255,112.6932,NaN
2015-04-30,1000.0,926.1299,976.9819,1717.7214,2401.0723,1277.8355,1102.7034,1139.2270,1171.1882,505.4209,...,1386.0338,NaN,NaN,875.7397,909.6501,622.0686,1386.3464,1633.9630,113.1403,NaN
2015-05-31,1000.0,921.3001,957.9090,1632.6834,2379.6895,1283.8804,1107.4667,1146.2572,1172.4196,509.5354,...,1390.1447,NaN,NaN,866.2293,923.5903,590.6232,1392.5871,1659.2681,114.3259,NaN

In [65]:
prices.pct_change()

,0,1,2,3,4,5,6,7,8,9,...,451,452,453,454,455,456,457,458,459,460
2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,0.0,-0.008747,0.026209,0.017204,0.031453,0.016769,0.013058,0.008357,0.000839,0.033617,...,0.001240,NaN,NaN,-0.008787,0.031083,-0.005098,0.009585,0.030857,0.048423,NaN
2015-03-31,0.0,0.014149,-0.005003,-0.050830,-0.011496,-0.000820,0.001264,-0.000362,-0.000076,-0.010360,...,0.003113,NaN,NaN,0.010830,0.007978,-0.054244,0.006826,0.001596,-0.018955,NaN
2015-04-30,0.0,0.025291,0.010991,0.050476,0.019338,-0.008685,-0.012994,-0.012260,0.001486,-0.011614,...,0.001732,NaN,NaN,0.017477,-0.008488,0.054398,-0.009431,-0.011053,0.003967,NaN
2015-05-31,0.0,-0.005215,-0.019522,-0.049506,-0.008906,0.004731,0.004320,0.006171,0.001051,0.008141,...,0.002966,NaN,NaN,-0.010860,0.015325,-0.050550,0.004502,0.015487,0.010479,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-30,0.0,0.000000,0.000000,-0.065448,-0.038811,-0.014576,-0.014131,-0.014485,-0.005465,0.000000,...,0.000000,-0.005935,0.000310,0.000000,0.000000,0.000000,-0.018150,-0.015315,0.000000,0.0
2020-10-31,0.0,0.000000,0.000000,-0.019082,-0.038274,-0.032137,-0.015180,-0.001721,0.004207,0.000000,...,0.000000,-0.084267,0.000268,0.000000,0.000000,0.000000,0.014245,-0.044353,0.000000,0.0
2020-11-30,0.0,0.000000,0.000000,0.213664,0.132846,0.078579,0.047148,0.024225,0.002668,0.000000,...,0.000000,0.122189,0.000275,0.000000,0.000000,0.000000,0.012133,0.093372,0.000000,0.0
2020-12-31,0.0,0.000000,0.000000,0.006958,0.040471,-0.019531,-0.012316,-0.002976,0.000084,0.000000,...,0.000000,-0.010917,0.000345,0.000000,0.000000,0.000000,0.005411,-0.029422,0.000000,0.0
2021-01-31,0.0,0.000000,0.000000,-0.017005,0.025394,0.026788,0.018407,0.014399,0.006372,0.000000,...,0.000000,0.000896,0.000328,0.000000,0.000000,0.000000,0.016314,0.041634,0.000000,0.0

In [66]:
prices = prices.pct_change().T
prices = prices.replace([-np.inf, np.inf], np.nan)
prices.head()

,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,-0.008747,0.014149,0.025291,-0.005215,-0.003662,0.001483,-0.057145,-0.018716,0.051619,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,NaN,0.026209,-0.005003,0.010991,-0.019522,-0.046567,-0.017576,-0.005994,-0.026498,0.022371,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,NaN,0.017204,-0.050830,0.050476,-0.049506,0.020644,-0.025067,-0.075318,-0.050856,0.052978,...,0.035468,0.058950,0.08818,0.032770,-0.035445,-0.065448,-0.019082,0.213664,0.006958,-0.017005
4,NaN,0.031453,-0.011496,0.019338,-0.008906,-0.039610,-0.001926,-0.010953,-0.032408,0.023736,...,0.149527,-0.072411,0.07885,0.008477,-0.054728,-0.038811,-0.038274,0.132846,0.040471,0.025394

In [43]:
prices.columns = [x.strftime('%Y-%m-%d') for x in prices.columns]

In [44]:
data = pd.concat([funds, prices], axis=1)
data.to_csv('../data/FundDatawithMonthlyPctChanges.csv')

In [22]:
data.iloc[:, 9:].isna().sum().sum()

0

In [25]:
np.isinf(data.iloc[:, 9:]).sum().sum()

0