In [1]:
import pandas as pd
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import glob

In [2]:
# Globals

filepath_glob_expression = "../data/raw/international_holdings/*.txt"
parquet_filepath = "../data/international_holdings.parq"
files = glob.glob(filepath_glob_expression)

In [3]:
all_shapes = []
all_columns = []
for file in files:
    tmp = pd.read_csv(file, nrows=10, sep=',')
    all_shapes.append(tmp.shape)
    all_columns.append(tmp.columns)
assert all([x == all_shapes[0] for x in all_shapes])
assert all([all(x) == all(all_columns[0]) for x in all_columns])

In [4]:
# TODO: Map Headers To English
# TODO: Enforce Expected Data Types

data = dd.read_csv(filepath_glob_expression, sep=";")

In [5]:
data.head()

,Run Fondo,Nombre Fondo,FFM_6020100,FFM_6020200,FFM_6020300,FFM_6020400,FFM_6020500,FFM_6020600,FFM_6020700,FFM_6020800,...,FFM_rel_6021111,FFM_6021112,FFM_6021113,FFM_6021114,FFM_6021200,FFM_6021300,FFM_6021400,FFM_6021511,FFM_6021512,FFM_6021513
0,8032,BICE EST BALANCEADA,EPI,WISDOM TREE INDIA EARNINGS I,US,ETFA,NaN,1,NaN,GRUPO 99,...,14821.10,3,0,NaN,136339,PROM,US,0.0,0.0,0.454
1,8032,BICE EST BALANCEADA,SPY,SPDR TRUST SERIES I,US,ETFA,NaN,1,NaN,GRUPO 99,...,126058.38,3,0,NaN,4279430,PROM,US,0.0,0.0,14.243
2,8032,BICE EST BALANCEADA,SPY,SPDR TRUST SERIES I,US,ETFA,NaN,1,NaN,GRUPO 99,...,126058.38,3,0,NaN,315146,PROM,US,0.0,0.0,1.049
3,8032,BICE EST BALANCEADA,VCR,VANGUARD CONSUMER DISCRET,US,ETFA,NaN,1,NaN,GRUPO 99,...,71583.72,3,0,NaN,575533,PROM,US,0.0,0.0,1.915
4,8032,BICE EST BALANCEADA,VFH,VANGUARD FINANCIALS ETF,US,ETFA,NaN,1,NaN,GRUPO 99,...,29680.13,3,0,NaN,504414,PROM,US,0.0,0.0,1.679

In [6]:

data.columns

Index(['Run Fondo', 'Nombre Fondo', 'FFM_6020100', 'FFM_6020200',
       'FFM_6020300', 'FFM_6020400', 'FFM_6020500', 'FFM_6020600',
       'FFM_6020700', 'FFM_6020800', 'FFM_6020900', 'FFM_6021000',
       'FFM_tir_6021111', 'FFM_par_6021111', 'FFM_rel_6021111', 'FFM_6021112',
       'FFM_6021113', 'FFM_6021114', 'FFM_6021200', 'FFM_6021300',
       'FFM_6021400', 'FFM_6021511', 'FFM_6021512', 'FFM_6021513'],
      dtype='object')

In [7]:
# TODO: Fill in  actual projection

with ProgressBar():
    cols = ['Run Fondo', 'Nombre Fondo', 'FFM_6021513']
    sub = data[cols]
    price_data = sub.compute()

[########################################] | 100% Completed |  3.0s

In [8]:
price_data.head()

   Run Fondo         Nombre Fondo  FFM_6021513
0       8032  BICE EST BALANCEADA        0.454
1       8032  BICE EST BALANCEADA       14.243
2       8032  BICE EST BALANCEADA        1.049
3       8032  BICE EST BALANCEADA        1.915
4       8032  BICE EST BALANCEADA        1.679

In [9]:

price_data.shape

(428053, 3)

In [10]:
price_data.to_parquet(parquet_filepath, compression='gzip')