In [1]:
import pandas as pd

In [2]:
# See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

# Manually supplying headers because of multi-level headers in oroginal document
headers = ["Currency", "Average"]

data = pd.read_excel('../data/raw/cost/costosffmm20210212.xlsx', sheet_name=2, header=None, names=headers, skiprows=4)

data

  Currency Average
0    PESOS    1,07
1    DOLAR    0,76

In [3]:
data['Average'] = data['Average'].str.replace(',', '.').astype(float) / 100

data

  Currency  Average
0    PESOS   0.0107
1    DOLAR   0.0076

In [4]:
data.dtypes

Currency     object
Average     float64
dtype: object

In [5]:
data.to_parquet('../data/mutual_fund_cost_averages_by_currency.parq', compression='gzip')