In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/FundDataWithMonthlyPrices_v3.csv')
data.head()

,fundRUN,fundName,fundSeries,aafmCategory,svsCategory,svsCategoryId,currency,fundRUNSeries,userCategory,1/31/15,...,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20,12/31/20,1/31/21
0,8812-9,A. CHILE CALIFICADO,D,Inversionistas Calificados Accionario Nacional,FM DIRIGIDO A INVERSIONISTAS CALIFICADOS,8.0,P,8812-9D,"Domestic Bond, < 365",767.0540,...,706.7567,665.9628,712.7872,727.2119,690.8105,659.9857,636.7984,728.8420,764.2218,769.6162
1,8289-9,ACCIONES CHILE,APV,Accionario Nacional Large CAP,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P,8289-9APV,Domestic Equity,857.0135,...,686.6956,629.7418,675.7632,688.7364,652.1686,629.9546,607.5724,684.7373,710.2978,725.5830
2,8076-4,ACCIONES CHILENAS,APV,Accionario Nacional Large CAP,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P,8076-4APV,Domestic Equity,4264.7434,...,4026.5817,3646.4398,3938.0199,3999.2216,3752.6015,3618.8839,3515.6612,3980.6780,4105.8619,4205.8988
3,9254-1,ACCIONES EUROPA,ALTO,Accionario Europa Desarrollado,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P,9254-1ALTO,International Equity,NaN,...,911.2628,932.6800,977.8669,926.3185,992.1376,960.9146,872.7992,1041.4013,1006.0475,1025.7878
4,8247-3,ACCIONES LATAM,A,Accionario America Latina,FM DE INVERSION EN INSTRUMENTOS DE CAPITALIZACION,5.0,P,8247-3A,International Equity,1693.6139,...,1397.8727,1480.2771,1610.8085,1663.5947,1604.6280,1499.6090,1470.9928,1785.2915,1797.7134,1767.1439

In [3]:
ts = data.iloc[:, 9:]
ts

,1/31/15,2/28/15,3/31/15,4/30/15,5/31/15,6/30/15,7/31/15,8/31/15,9/30/15,10/31/15,...,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20,12/31/20,1/31/21
0,767.0540,788.5753,785.9268,797.9719,792.9950,763.2672,762.9602,768.3307,742.1139,761.7521,...,706.7567,665.9628,712.7872,727.2119,690.8105,659.9857,636.7984,728.8420,764.2218,769.6162
1,857.0135,882.9958,873.0740,882.3608,874.7575,840.6924,842.7679,836.5344,806.3691,832.6931,...,686.6956,629.7418,675.7632,688.7364,652.1686,629.9546,607.5724,684.7373,710.2978,725.5830
2,4264.7434,4467.0361,4386.0161,4499.4617,4429.9785,4233.6025,4191.1277,4144.0076,3981.3827,4110.6441,...,4026.5817,3646.4398,3938.0199,3999.2216,3752.6015,3618.8839,3515.6612,3980.6780,4105.8619,4205.8988
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,911.2628,932.6800,977.8669,926.3185,992.1376,960.9146,872.7992,1041.4013,1006.0475,1025.7878
4,1693.6139,1722.7516,1635.1843,1717.7214,1632.6834,1666.3880,1624.6163,1502.2527,1425.8536,1501.3926,...,1397.8727,1480.2771,1610.8085,1663.5947,1604.6280,1499.6090,1470.9928,1785.2915,1797.7134,1767.1439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1634.0381,1640.8835,1643.6302,1647.2129,1653.3580,1659.8571,1668.2115,1673.7915,1677.3005,1678.0360,...,1918.2670,1928.0308,1926.6139,1925.9346,1934.1314,1931.6995,1937.9650,1944.9532,1943.1137,1949.1619
307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1178.1592,1186.1080,1182.1184,1180.8745,1190.5819,1190.0365,1197.4432,1205.2516,1202.1768,1206.7065
308,28476.9327,28546.6508,28621.2591,28697.0684,28776.6986,28849.4038,28926.0990,29003.0990,29080.0454,29159.1376,...,33027.1002,33027.9904,33034.4678,33076.0493,33079.9903,33106.6821,33120.5551,33173.1571,33265.5057,33260.7546
309,1376.8601,1390.0569,1399.5459,1386.3464,1392.5871,1401.2721,1415.6233,1424.7918,1418.4855,1416.8451,...,1559.5532,1559.9891,1563.8820,1564.2163,1594.6716,1565.7276,1588.0307,1607.2982,1615.9960,1642.3596
310,1600.2140,1649.5923,1652.2255,1633.9630,1659.2681,1661.0704,1762.7202,1693.8926,1622.5118,1744.5812,...,2188.7626,2213.7056,2318.9197,2274.8357,2473.5579,2435.6756,2327.6468,2544.9830,2470.1054,2572.9460

In [19]:
def get_cagr(series):
    series = series.dropna()
    start = series[0]
    end = series[-1]
    n = len(series)
    return (end/start) ** (1/(n/12)) - 1

In [32]:
def get_ann_std(series):
    series = series.dropna()
    return series.pct_change().std() * np.sqrt(12)

In [38]:
fund_data = data.iloc[:, :9]
fund_data['ann_return'] = ts.apply(lambda x: get_cagr(x), axis=1)
fund_data['ann_stdev'] = ts.apply(lambda x: get_ann_std(x), axis=1)

In [40]:
fund_data.to_csv('../data/FundDataPerfandRisk.csv', index=False)