In [1]:
import pandas as pd

In [2]:
# See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

# Manually supplying headers because of multi-level headers in oroginal document
headers = ["Type", "Currency", "Average"]

data = pd.read_excel('../data/raw/cost/costosffmm20210212.xlsx', sheet_name=1, header=None, names=headers, skiprows=4)

data

    Type Currency Average
0      3    PESOS    1,05
1      8    PESOS    1,18
2      4    DOLAR    1,77
3      8    DOLAR    0,91
4      2    PESOS    1,00
5      6    DOLAR    1,36
6      7    PESOS    1,24
7      3    DOLAR    0,98
8      1    PESOS    0,33
9      6    PESOS    1,76
10     5    DOLAR    2,47
11     4    PESOS    2,46
12     2    DOLAR    0,69
13     5    PESOS    1,77
14     1    DOLAR    0,41
15     7    DOLAR    1,31

In [3]:
data['Average'] = data['Average'].str.replace(',', '.').astype(float) / 100

data

    Type Currency  Average
0      3    PESOS   0.0105
1      8    PESOS   0.0118
2      4    DOLAR   0.0177
3      8    DOLAR   0.0091
4      2    PESOS   0.0100
5      6    DOLAR   0.0136
6      7    PESOS   0.0124
7      3    DOLAR   0.0098
8      1    PESOS   0.0033
9      6    PESOS   0.0176
10     5    DOLAR   0.0247
11     4    PESOS   0.0246
12     2    DOLAR   0.0069
13     5    PESOS   0.0177
14     1    DOLAR   0.0041
15     7    DOLAR   0.0131

In [4]:
data.dtypes

Type          int64
Currency     object
Average     float64
dtype: object

In [5]:
data.to_parquet('../data/mutual_fund_cost_averages_by_type.parq', compression='gzip')